#calculator{
  width:300px;
  background:#65B55D;
  margin:10px auto;
  font-family:Arial;
}

.screen{
  height:70px;
  width:95%;
  color: white;
  font-size:50px;
  line-height:70px;
  text-align:right;
  padding:5px;


}


#keypad li{
  list-style-type:none;
  width:25%;
  height:70px;
  background: white;
  float:left;
  text-align:center;
  line-height:70px;
  box-sizing:border-box;
  border:1px solid grey;

}

#keypad .symbol{
  background:#61B359;
  color:white;
  font-size:30px;
}

#keypad .symbol-side{
  background:grey;
  color:white;
  font-size:30px;
}
