.container {
  width: 300px;
  height: 350px;
  background-color: black;
}

.digit {
  background-color: #64B255;
  border: 1px solid lightgrey;
  width: 70px;
  height: 70px;
  float: left;
  text-align: center;
   line-height:70px;
   box-sizing:border-box;
}

#answer {
background-color: #64B255;
border: 1px solid lightgrey;
width: 210px;
height: 70px;

}
